@model IEnumerable<embeddedxcontrol.Models.ProjectListViewModel>

@{
    ViewBag.PageTitle = "Projects";
}

<div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-8">

    @Html.Partial("_LogoPartial")

    <div class="card exc-card-border">
        <!-- Title -->
        <div class="card-header bg-white">
            <h1 class="mt-4">@ViewBag.PageTitle</h1>
        </div>

        <!-- Post Content -->
        <div class="card-body">

            @foreach (var p in Model)
            {
                <a href="@Url.Action("GetProject", routeValues: new {id = (string)p.Id })">
                    <div class="card">
                        <div class="card-header">
                            <h4>@Html.DisplayName(p.Title)</h4>
                            <p>@Html.Raw(p.Author)</p>
                        </div>
                        <div class="card-body">
                            <p class="text-left">
                                @Html.DisplayName(p.Summary)
                            </p>
                        </div>
                    </div>
                </a>
                <div class="container mt-2">
                    <!--Spacing between project containers-->
                </div>
            }

        </div>
    </div>
    <!-- Comments Form -->
    <div class="card exc-card-border my-4">
        <h5 class="card-header exc-card-header">Leave a Comment:</h5>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <hr />
            @*</div>*@
            @*</div>*@
            <!-- Single Comment -->
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
            <!-- Comment with nested comments -->
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                    <div class="media mt-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Commenter Name</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                    <div class="media mt-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Commenter Name</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 bg-exc1">

        @Html.Partial("_SearchWidgetPartial")

        @Html.Partial("_ProjectTagsPartial")

        <!-- Side Widget -->
        <div class="card exc-card-border my-4">
            <h5 class="card-header exc-card-header">Side Widget</h5>
            <div class="card-body">
                You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
--------------------------------------------------------------------------------------------------------------------------------------




@*<div class="col-sm-3">
    <div class="col-sm-12" style="background-color:white; height:100%; padding-bottom:20px;">
        <h2 style="padding-top:12px;">@ViewBag.MenuTitle</h2>
        <hr style="border-color:gray; margin-top:0px;" />
        <ul class="col-sm-12 list-unstyled">
            @foreach (var item in ViewBag.Topics)
            {
                <li>@Html.ActionLink((string)item, "Index", "Projects", routeValues: new { topicFilter = (string)item }, htmlAttributes: null)</li>
            }

        </ul>
        <p>Click on topic to filter results.</p>
    </div>
</div>*@





