@using embeddedxcontrol.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login Page";
}

<div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-8">

        @Html.Partial("_LogoPartial")


        <div class="card exc-card-border">


            <!-- Title -->
            <div class="card-header bg-white">
                <h1 class="mt-4">@ViewBag.Title</h1>
            </div>

            <!-- Post Content -->
            <div class="card-body">
                @*Start form*@
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-primary" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
            }
                </section>
                @*End form*@

            </div>
        </div>

    </div>
    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 bg-exc1">

        @Html.Partial("_SearchWidgetPartial")

        @Html.Partial("_ProjectTagsPartial")

        <!-- Side Widget -->
        <div class="card exc-card-border my-4">
            <h5 class="card-header exc-card-header">Side Widget</h5>
            <div class="card-body">
                You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
        </div>
    </div>
</div>

